.view {
  min-height: 100vh;
  &--cols {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 20px;
  }
  &--title {
    font-size: 38px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  &--description {
    color: rgba(var(--grey), 1);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.16px;
  }
}
