.bcmsGlow {
  z-index: 0;
  pointer-events: none;
  position: fixed;
  top: 0;left: 0;
  &--inner {
    img {
      display: block;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      will-change: opacity;
      opacity: 0;
      &[data-bcms-glow="yellow-green"] {
        @include fluid(--glow-width, 500px, 900px, 80vw, 30vw);
      }
      &[data-bcms-glow="pink-yellow"] {
        @include fluid(--glow-width, 500px, 900px, 80vw, 35vw);
      }
      &[data-bcms-glow="pink-yellow-green"] {
        @include fluid(--glow-width, 500px, 900px, 80vw, 30vw);
      }
      &[data-bcms-glow="pink-green"] {
        @include fluid(--glow-width, 500px, 900px, 80vw, 40vw);
      }
      &[data-bcms-glow="green-yellow"] {
        @include fluid(--glow-width, 500px, 900px, 80vw, 35vw);
      }
      width: var(--glow-width);
    }
  }
}

.auth ~ .bcmsGlow {
  display: none;
}
