.bcmsGlow {
  z-index: 0;
  pointer-events: none;
  position: fixed;
  left: -100px;
  top: -100px;
  &--inner {
    img {
      display: block;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      will-change: opacity;
      opacity: 0;
    }
  }
}

.auth ~ .bcmsGlow {
  display: none;
}
