.input {
  width: 100%;
  input,
  textarea {
    font-size: 14px;
    padding: 7px 9px 7px 9px;
    width: 100%;
    border: 1px solid var(--c-gray);
    background-color: var(--c-white);
  }
  input:disabled {
    cursor: not-allowed;
    background-color: var(--c-gray);
  }
  input:focus,
  textarea:focus {
    border: 1px solid var(--c-primary);
  }

  &--label {
    font-size: 14px;
    color: var(--c-gray-darker);
    font-weight: normal;
  }

  &--helper {
    font-size: 14px;
    color: var(--c-gray);
    font-weight: normal;
  }

  &--invalid {
    color: var(--c-error);
    font-size: 14px;
    display: flex;
  }

  &--invalid .icon {
    font-size: 10px;
    margin: 4px 10px 0 0;
  }

  &--select {
    display: flex;
    select {
      padding: 7px 30px 7px 9px;
      width: 100%;
      border: 1px solid var(--c-gray);
      background-color: var(--c-white);
      cursor: pointer;
    }
    select:disabled {
      cursor: default;
      color: var(--c-gray);
    }
    select:focus {
      border: 1px solid var(--c-primary);
    }
    &-drop {
      pointer-events: none;
      width: 0px;
      position: relative;
      left: -25px;
      margin: auto 0;
      z-index: 0;
    }
  }
  &--file {
    max-width: 600px;
    padding: 20px;
    display: flex;
    cursor: pointer;
    border: 1px dashed var(--c-primary);
    color: var(--c-primary);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    background-color: var(--c-gray-lighter);
    &-message {
      margin: auto;
      text-align: center;
    }
    &-over {
      border-style: solid;
    }
    input {
      display: none;
    }
    img {
      max-width: 300px;
      margin: 0 auto;
    }
    &-thumb {
      &-default {
        font-size: 100px;
        color: var(--c-gray);
        margin: 0 auto;
      }
    }
  }
}
