.layout {
  width: 100%;
  min-height: 100vh;
  &--transition {
    background-color: var(--c-primary-dark);
    width: 100%;
    min-height: 100vh;
  }
  &--content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
}
