.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-image: url('/assets/gradients/gradient-1.jpg');
  background-size: 700px auto;

  @include media(900px, 'max') {
    flex-direction: column;
  }

  &--transition {
    background-color: var(--c-primary-dark);
    width: 100%;
    min-height: 100vh;
  }

  &--content {
    width: auto;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}
