.manager-layout {
  display: flex;
  &--content {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 100vh;
    &-wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      max-width: 900px;
      margin: 50px auto;
    }
  }
  @include media(900px, 'max') {
    flex-direction: column;
  }
}
