.manager-layout {
  display: flex;
  &--content {
    width: 100%;
    max-height: 100vh;
    &-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      @include fluid(
        padding-top padding-left padding-right,
        900px,
        1850px,
        30px,
        60px
      );
      padding-bottom: 200px;
    }
  }
  @include media(900px, 'max') {
    flex-direction: column;
    &--content {
      overflow: hidden;
      height: auto;
      max-height: unset;
      &-wrapper {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
