.markdownBoxDisplay {
  color: rgba(var(--grey), 1);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.16px;
  user-select: none;
  cursor: default;
  display: inline-block;
  & > * {
    margin-bottom: 5px;
  }
  ul,
  ol {
    margin-left: 15px;
  }
  strong,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
  // width: 100%;
  // color: rgba(var(--grey), 1);
  // border: 1px solid rgba(var(--grey), 1);
  // padding: 10px 20px;
  // margin-top: 10px;
  // p {
  //   margin: 5px 0 7px 0;
  // }
  // h1 {
  //   font-size: 18px;
  //   margin-top: 7px;
  //   margin-bottom: 10px;
  // }
  // h2 {
  //   font-size: 16px;
  //   margin-top: 7px;
  //   margin-bottom: 10px;
  // }
  // h3 {
  //   font-size: 14px;
  //   margin-top: 7px;
  //   margin-bottom: 10px;
  // }
  // ul, ol {
  //   margin-left: 20px;
  //   font-weight: 300;
  // }
  pre {
    margin-top: 5px;
    margin-bottom: 7px;
    border-radius: 10px;
    border: 1px dotted rgba(var(--green), 1);
    // background-color: rgba(var(--light), 1);
    padding: 10px;
    font-size: 12px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      color: rgba(var(--green), 1);
      // background-color: rgba(var(--light), 1);
      text-align: left;
      tr {
        border-bottom: 1px solid rgba(var(--grey), 0.5);
      }
    }
    td,
    th {
      padding: 5px;
    }
    tbody {
      tr {
        border-bottom: 1px solid rgba(var(--grey), 0.5);
      }
    }
  }
}
