.bcmsNotification {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  border-radius: 8px;

  min-height: 48px;
  will-change: opacity, transform;
  margin-bottom: 10px;
  &--wrapper {
    position: fixed;
    min-width: 50vw;
    max-width: 700px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
  }
  &--inner {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  &--message {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    margin-left: 17.5px;
    letter-spacing: 0;
    position: relative;
    top: 2px;
    color: rgba(var(--dark), 1);
  }
  svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  &_error {
    background-color: rgba(var(--error), 1);
    svg {
      fill: rgba(var(--red), 1);
    }
  }
  &_success {
    background-color: rgba(var(--success), 1);
    svg {
      fill: rgba(var(--green), 1);
    }
  }
  &_warning {
    background-color: rgba(var(--warning), 1);
    svg {
      fill: rgba(var(--yellow), 1);
      stroke: rgba(var(--yellow), 1);
    }
  }
  &--close {
    margin-left: auto;
    display: flex;
    svg {
      fill: rgba(var(--dark), 1);
      stroke: rgba(var(--dark), 1);
      margin: auto;
      transition: fill 0.22s, stroke 0.22s;
    }
    &:hover,
    &:focus {
      svg {
        fill: rgba(var(--red), 1);
        stroke: rgba(var(--red), 1);
      }
    }
  }
  @include media(768px, 'max') {
    width: 98vw;
  }
}
