.popup {
  position: fixed;
  bottom: 20px;
  right: -350px;
  width: 350px;
  font-size: 10pt;
  border: none;
  z-index: 1;

  &--message {
    transition: 0.4s;
    color: var(--c-white);
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
    position: relative;
    right: 370px;
  }

  &--toast {
    width: 100%;
    color: var(--c-black);
    padding: 20px;
    min-height: 80px;
  }

  &--error {
    background-color: rgb(231, 179, 179);
    border-left: 4px solid var(--c-error);
  }

  &--success {
    background-color: rgb(188, 231, 179);
    border-left: 4px solid var(--c-success);
  }

  &--toast .type {
    display: flex;
  }

  &--toast .type .text {
    font-size: 20px;
    font-weight: normal;
    margin: auto 0 auto 10px;
  }

  &--toast .type .icon {
    font-size: 16px;
    margin: auto 0;
  }

  &--error .type .icon {
    color: var(--c-error);
  }

  &--success .type .icon {
    color: var(--c-success);
  }

  &--toast .type .close {
    border: none;
    background-color: #0000;
    margin: auto 0 auto auto;
    font-size: 12pt;
  }

  &--content {
    margin-top: 20px;
  }
}