.secret {
  max-width: 600px;
  label {
    color: var(--c-gray-dark);
  }
  &--wrapper {
    display: flex;
    border: 1px solid var(--c-gray-light);
    padding: 5px 10px;
  }
  &--value {
    margin: auto 0;
    overflow-x: auto;
  }
  &--toggle {
    margin-left: auto;
  }
}
