.view--search {
  position: relative;
  display: flex;
  --searchBorderColor: var(--dark);

  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--searchBorderColor), 0)
    rgba(var(--searchBorderColor), 0) rgba(var(--searchBorderColor), 1)
    rgba(var(--searchBorderColor), 0);

  transition: border-color 0.3s;
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
  &:focus-within {
    --searchBorderColor: var(--green);
    border-color: rgba(var(--searchBorderColor), 1);
  }
  &-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    margin-right: 10px;
    fill: rgba(var(--dark), 1);
  }
  &-input {
    width: 100%;
    padding: 10px 0 10px 35px;
    font-size: 16px;
    line-height: 1.3125;
    outline: none !important;
  }
  &-toggler {
    position: relative;
    display: flex;
    padding: 5px;
    outline: none;
    svg {
      position: relative;
      margin: auto;
      top: 0;
      width: 15px;
      transform: translateY(0);
      transition: transform 0.3s;
      pointer-events: none;
      fill: rgba(var(--dark), 1);
    }
    &_active {
      i {
        transform: rotate(180deg);
      }
    }
    &:hover {
      svg {
        fill: rgba(var(--green), 1);
      }
    }
  }
}
