.overflowMenu {
  position: relative;
  display: flex;
  &--trigger {
    display: flex;
    &:hover,
    &:focus {
      svg {
        fill: rgba(var(--dark), 1);
      }
    }
    svg {
      width: 24px;
      fill: rgba(var(--grey), 1);
      transition: fill 0.34s ease;
    }
  }
  &--items {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: rgba(var(--white), 1);
    box-shadow: 0px 0px 24px rgba(46, 46, 46, 0.12);
    overflow: hidden;
    width: 215px;
    border-radius: 10px;
    &-right {
      right: 0;
    }
    &-left {
      left: 0;
    }
    &-title {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.5;
      letter-spacing: 6%;
      padding: 16px 16px 6px;
    }
  }
  &--item {
    display: flex;
    button {
      width: 100%;
      transition: background-color 0.22s, color 0.22s;
      padding: 16px 22px !important;
      display: flex;
      align-items: center;
      svg {
        margin-right: 15px;
        width: 20px !important;
        fill: rgba(var(--grey), 1);
        transition: fill 0.22s;
      }
      &:hover,
      &:focus {
        background-color: rgba(var(--light), 1);
        color: rgba(var(--green), 1);
        svg {
          fill: rgba(var(--green), 1) !important;
        }
      }
    }
  }
  .bcmsButton {
    border-radius: 0;
  }
}
