.secret {
  max-width: 600px;
  margin-top: 20px;
  .bcmsInput {
    &--inner {
      height: 44px;
      padding: 0 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover,
      &:focus-within {
        border: 1px solid rgba(var(--grey), 1);
        box-shadow: none;
      }
    }
  }
  &--toggle {
    display: flex;
    &:hover,
    &:focus {
      svg {
        fill: rgba(var(--dark), 1);
      }
    }
    svg {
      margin: 0;
      width: 20px;
      fill: rgba(var(--grey), 1);
      transition: fill 0.22s;
    }
    &-hide {
      &:hover,
      &:focus {
        svg {
          stroke: rgba(var(--dark), 1);
        }
      }
      svg {
        fill: none;
        stroke: rgba(var(--grey), 1);
        transition: stroke 0.22s;
        path:first-of-type {
          fill: none;
        }
      }
    }
  }
  &--value {
    margin: auto 10px auto 0;
    overflow-x: auto;
  }
}
