.prop {
  border-bottom: 1px solid rgba(var(--grey), 1);
  padding: 10px 10px 0 10px;
  &--top {
    display: flex;
    position: relative;
    top: -25px;
    &-required {
      margin: auto 0;
      color: rgba(var(--grey), 1);
      font-size: 12px;
    }
    &-label {
      margin: auto 0 auto 10px;
      font-size: 16px;
      font-weight: 300;
    }
    &-name {
      margin: auto 0 auto 20px;
      color: rgba(var(--grey), 1);
      font-family: monospace;
      font-size: 12px;
    }
    &-required,
    &-label,
    &-name {
      background-color: rgba(var(--light), 1);
      padding: 2px;
    }
  }
  &--content {
    position: relative;
    top: -25px;
    margin-bottom: -15px;
  }
}
