.prop--entry-pointer {
  display: flex;
  flex-direction: row;
  width: 100%;
  &--open {
    margin-left: auto;
  }
  .entryEditor--prop_ARRAY-wrapper {
    width: 100%;
  }
  .entryEditor--prop_ARRAY_ITEM {
    & > .entryEditor--prop_ARRAY_ITEM-content {
      display: flex;
      width: 100%;
    }
  }
}