.prop-list-table {
  table {
    width: 100%;
    border-collapse: collapse;
    td, th {
      padding: 5px 8px;
    }
    thead {
      background-color: var(--c-gray-light);
      text-align: left;
      font-size: 18px;
      th {
        font-weight: normal;
      }
      .required {
        width: 30px;
      }
      .menu {
        width: 50px;
      }
    }
    tbody {
      font-size: 16px;
      font-weight: 300;
      tr {
        border-bottom: 1px solid var(--c-gray-light);
      }
      .required {
        text-align: center;
        color: var(--c-gray-light);
      }
      .type {
        span {
          color: var(--c-primary);
          margin: auto 20px;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
