.props-editor {
  // border: 1px solid var(--c-gray-light);
  // padding: 20px;
}

.entryEditor {
  &--props {
    &-row {
      margin-bottom: 15px;
    }
  }
  &--prop {
    &-header {
      display: flex;
      align-items: center;
      padding-bottom: 6px;
      border-bottom: 1px solid rgba(var(--grey), 0.5);
    }
    &-label {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: rgba(var(--dark), 1);
      flex-grow: 0;
      margin: 0 4px 0 0;
    }
    &-required {
      width: 14px;
      height: auto;
    }
    &-body {
      margin-top: 20px;
      padding-bottom: 15px;
    }
  }
}
