.prop--array-wrapper {
  display: flex;
  flex-direction: column;
  &-items {
    display: flex;
    flex-direction: column;
    &-item {
      margin-bottom: 10px;
      border: 1px solid var(--c-gray-lighter);
      &-top {
        display: flex;
        .label {
          margin: auto 0 auto 10px;
          font-weight: 300;
        }
      }
    }
  }
}
