._bcmsInput {
  &--password {
    display: flex;
    ._bcmsInput--text {
      position: relative;
      padding-right: 35px;
    }
    &-toggle {
      position: absolute;
      right: 12px;
      top: 12px;
      svg {
        width: 20px;
        fill: rgba(var(--grey), 1);
        margin: auto;
      }
      .hide {
        fill: none;
        stroke: rgba(var(--grey), 1);
      }
    }
  }
}
