._bcmsInput--toggle {
  display: flex;
  align-items: center;
  outline: none;
  &:focus {
    ._bcmsInput--toggle-state {
      color: rgba(var(--dark), 0.6);
    }
  }
  &_contentWidth {
    width: max-content;
  }
  &-inner {
    display: inline-block;
    position: relative;
    background: rgba(var(--white), 1);
    height: 20px;
    cursor: pointer;
    width: 37.15px;
    border-radius: 16px;
    border: 1px solid rgba(var(--grey), 1);
    .circle {
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      background-color: rgba(var(--grey), 1);
    }
    &_checked {
      border: 1px solid rgba(var(--pink), 1);
      background-color: rgba(var(--pink), 1);
      .circle {
        background-color: rgba(var(--white), 1);
        right: 3px;
        left: initial;
      }
    }
    &_disabled {
      cursor: not-allowed;
      opacity: 0.3;
      .circle {
        right: 3px;
      }
      + ._bcmsInput--toggle-state {
        cursor: not-allowed;
        color: rgba(var(--grey), 1);
      }
    }
  }
  &-state {
    position: relative;
    top: 2px;
    padding-left: 10px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    transition: color 0.22s;
  }
}
