.um {
  .managerInfo {
    &--cols {
      display: block;
    }
    &--heading {
      margin-bottom: 35px;
    }
  }
  &--policy {
    margin-top: 60px;
  }
  &--permissions {
    &_all {
      color: rgba(var(--grey), 1);
      font-weight: 400;
      font-size: 24px;
      margin-top: 30px;
    }
  }
  &--permission {
    margin-bottom: 60px;
  }
  &--actionButtons {
    position: fixed;
    @include fluid(top, 901px, 1850px, 30px, 55px);
    right: 40px;
  }
  .bcmsButton {
    &_update {
      margin-right: 10px;
    }
    &_makeAdmin {
      margin-right: 10px;
    }
  }
  @include media(900px, 'max') {
    &--actionButtons {
      top: unset;
      bottom: 30px;
      right: 20px;
      display: flex;
      flex-direction: column;
      .bcmsButton {
        margin-bottom: 14px;
        &_update,
        &_makeAdmin {
          margin-right: 0;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
