.managerInfo {
  &--showExampleBtn {
    span {
      color: rgba(var(--grey), 1);
      font-weight: 400;
    }
  }
  .bcmsInput {
    &--label {
      margin-bottom: 15px;
    }
  }
  .bcmsDropdown {
    max-width: 320px;
  }
}
