.bcmsModal_mediaPicker {
  .bcmsModal {
    &--inner {
      max-width: 700px;
      overflow: hidden;
      header {
        margin-bottom: 30px;
        .bcmsButton {
          margin-bottom: 10px;
        }
      }
    }
    .spinner {
      border-radius: 10px;
    }
  }
  &.bcmsModal {
    .view--title {
      font-size: 22px;
      font-weight: normal;
      color: rgba(var(--grey), 1);
      border-bottom: 1px solid rgba(var(--grey), 1);
      margin-bottom: 20px;
      text-transform: uppercase;
      line-height: 1.4;
    }
    .media {
      &--breadcrumb {
        margin-bottom: 20px;
      }
      &--list {
        margin-top: 30px;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        padding: 5px;
      }
      &--item {
        border-radius: 6px;
        &-click {
          display: block;
          height: 100%;
          outline: none;
          &_more {
            border-radius: 6px;
            padding: 0 5px;
          }
        }
        &-visual {
          &::before {
            padding-top: 100%;
          }
          &-inner {
            height: 100%;
          }
        }
        &-name {
          margin-right: 10px;
        }
        &-delete {
          display: none;
        }
        &_DIR {
          grid-column: span 2;
        }
        &:not(.media--item_DIR) {
          transition: opacity 0.22s;
          &:hover {
            opacity: 0.85;
          }
          .media--item {
            &-footer {
              display: none;
            }
          }
        }
        &_selected {
          box-shadow: 0px 2px 10px rgba(151, 152, 171, 0.25);
          border: 2px solid rgba(var(--green), 1);
        }
      }
    }
  }
}
