.entry-add-content-section {
  h3 {
    font-size: 22px;
    font-weight: normal;
    color: var(--c-gray);
    border-bottom: 1px solid var(--c-gray-light);
  }
  .group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    button {
      width: 100%;
      border: 1px solid var(--c-gray-light);
      padding: 10px;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      transition: all 0.3s;
    }
    button:hover, .selected {
      border-color: var(--c-primary);
      color: var(--c-primary);
    }
    .selected {
      background-color: var(--c-gray-lighter);
    }
  }
}
