.bcmsModal_fullModel {
  .bcmsModal {
    &--inner {
      max-width: 550px;
      .hljs {
        overflow-x: unset;
      }
      .entry-full-model-modal {
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  pre {
    code {
      font-size: 12px;
    }
  }
}
