.bcmsLayout {
  display: grid;
  grid-template-columns: var(--sideNav1Width) var(--sideNav2Width) 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'sidenav1 sidenav2 header'
    'sidenav1 sidenav2 main'
    'sidenav1 sidenav2 main';
  height: 100vh;

  &.is-twoCol {
    grid-template-columns: var(--sideNav1Width) 1fr;
    grid-template-areas:
      'sidenav1 header'
      'sidenav1 main'
      'sidenav1 main';
  }
  &--header {
    grid-area: header;
  }
  &--body {
    grid-area: main;
    padding: 0 var(--paddingX);
    max-width: 100vw;
  }

  @include media(900px, 'max') {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: unset;
    &--header {
      display: none;
      grid-area: unset;
    }
    &--body {
      grid-area: unset;
      grid-column: 1 / -1;
    }
  }
}
