:root {
  // #249681
  --green-r: 36;
  --green-g: 150;
  --green-b: 129;
  --green: var(--green-r), var(--green-g), var(--green-b);

  // #ecada9
  --pink-r: 236;
  --pink-g: 173;
  --pink-b: 169;
  --pink: var(--pink-r), var(--pink-g), var(--pink-b);

  // #ffff19
  --yellow-r: 255;
  --yellow-g: 205;
  --yellow-b: 25;
  --yellow: var(--yellow-r), var(--yellow-g), var(--yellow-b);

  // #f56b58
  --red-r: 245;
  --red-g: 107;
  --red-b: 88;
  --red: var(--red-r), var(--red-g), var(--red-b);

  // #13141a
  --dark-r: 19;
  --dark-g: 20;
  --dark-b: 26;
  --dark: var(--dark-r), var(--dark-g), var(--dark-b);

  // #f8f8fc
  --light-r: 248;
  --light-g: 248;
  --light-b: 252;
  --light: var(--light-r), var(--light-g), var(--light-b);

  // #9798ab
  --grey-r: 151;
  --grey-g: 152;
  --grey-b: 171;
  --grey: var(--grey-r), var(--grey-g), var(--grey-b);

  // #fcfcfc
  --white-r: 252;
  --white-g: 252;
  --white-b: 252;
  --white: var(--white-r), var(--white-g), var(--white-b);

  // #f5eaea
  --error-r: 245;
  --error-g: 234;
  --error-b: 234;
  --error: var(--error-r), var(--error-g), var(--error-b);

  // #eaf5f3
  --success-r: 234;
  --success-g: 245;
  --success-b: 243;
  --success: var(--success-r), var(--success-g), var(--success-b);

  // #fffae8
  --warning-r: 255;
  --warning-g: 250;
  --warning-b: 232;
  --warning: var(--warning-r), var(--warning-g), var(--warning-b);

  --gradient-stop-1: #f8c8c5;
  --gradient-stop-2: #f8c8c5;
  --gradient-stop-3: #f8c8c5;
  --gradient-stop-4: #ffcd19;
  --gradient-stop-5: #ffcd19;
  --gradient-stop-6: #ffc68e;

  @include fluid(--sideNav1Width, 901px, 1100px, 250px, 300px);
  @include fluid(--sideNav2Width, 901px, 1100px, 180px, 240px);

  @include fluid(--paddingX, 500px, 1100px, 15px, 60px);
}
