.modal-enter-active,
.modal-leave-active {
}

.modal-enter-from,
.modal-leave-to {
  .bcmsModal--overlay {
    opacity: 0;
  }
  .bcmsModal--inner {
    transform: translate(-50%, calc(-50% + 5px));
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.logo-enter-active,
.logo-leave-active {
  // transition: opacity 0.5s ease;
  path {
    transform: translate3d(0, 0, 0.1px);
    transition-property: transform;
    transition-timing-function: ease;
    fill: #fff;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.1s;
        transition-duration: 0.5s;
      }
    }
  }
}

.logo-enter-from,
.logo-leave-to {
  path {
    transform: translate3d(0, 25px, 0.1px);
  }
}
