.bcmsEntryTitle {
  display: flex;
  flex-direction: column;
  span {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba(var(--dark), 1);
  }
  textarea {
    resize: none;
    padding: 0;
    background: transparent;
    line-height: 1.25;
    letter-spacing: 0px;
    color: rgba(var(--dark), 1);
    width: 100%;
    font-weight: 400;
    position: relative;
    margin-top: 5px;
    cursor: text;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 101px;
    @include fluid(font-size, 320px, 1850px, 38px, 50px);
    &:before {
      color: rgba(var(--grey), 0.5);
      font-style: normal;
      font-size: inherit;
      left: 0;
      right: unset;
      position: relative !important;
    }
    br {
      display: none;
    }
  }
}
