.km {
  &--blocked {
    margin-top: 20px;
  }
  &--policy {
    margin-top: 50px;
    h3 {
      font-size: 30px;
      font-weight: 300;
      color: var(--c-gray);
    }
    .grid {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .update {
      text-align: center;
      margin-top: 50px;
    }
  }
}
