.um {
  .entityInfo {
    &--cols {
      display: block;
    }
    &--heading {
      margin-bottom: 35px;
    }
    .markdown-box-display {
      display: none;
    }
  }
  &--permissions {
    margin-top: 60px;
    &_all {
      color: rgba(var(--grey), 1);
      font-weight: 400;
      font-size: 24px;
      margin-top: 30px;
    }
  }
  &--permission {
    margin-bottom: 60px;
    &-name {
      font-size: 28px;
      line-height: 1.1;
      font-weight: 400;
      color: rgba(var(--dark), 1);
      margin-bottom: 30px;
      span {
        text-transform: capitalize;
        color: rgba(var(--pink), 1);
      }
    }
  }
  .bcmsButton {
    &_makeAdmin {
      margin-bottom: 20px;
      i {
        color: rgba(var(--yellow), 1);
      }
    }
    &_update {
      position: fixed;
      top: 30px;
      right: 40px;
    }
  }
  @include media(900px, 'max') {
    .bcmsButton {
      &_update {
        top: unset;
        bottom: 30px;
      }
    }
  }
}
