.media {
  .view {
    &--content {
      margin-top: 60px;
      &-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
      }
    }
    &--title {
      font-size: 28px;
      letter-spacing: -0.01em;
      line-height: 1.075;
    }
  }
  &--sort {
    &-toggler {
      display: flex;
      align-items: center;
      &_asc {
        svg {
          transform: rotate(180deg);
        }
      }
      span {
        font-size: 12px;
        line-height: 1.5;
        text-transform: uppercase;
      }
      svg {
        width: 12px;
        fill: rgba(var(--dark), 1);
      }
    }
  }
  &--list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 30px 20px;
    @include media(900px, 'max') {
      grid-gap: 15px;
    }
    &_empty {
      color: rgba(var(--grey), 1);
      font-weight: 400;
      font-size: 24px;
      margin-top: 30px;
    }
  }
  &--item {
    border-radius: 23px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(151, 152, 171, 0.25);
    align-self: start;
    transition: box-shadow 0.22s ease;
    &:hover {
      box-shadow: 0px 2px 10px rgba(151, 152, 171, 0.35);
    }
    &_DIR + .media--item:not(.media--item_DIR) {
      grid-column-start: 1;
    }
    &_IMG &-footer {
      border-top: 1px solid rgba(var(--dark), 0.05);
      .media--item-delete {
        padding-bottom: 19px;
      }
    }
    &-click {
      position: relative;
      font-size: 16px;
      line-height: 1.7;
      letter-spacing: -0.16px;
      width: 100%;
    }
    &-visual {
      position: relative;
      &:before {
        content: '';
        display: block;
        @include fluid(padding-top, 320px, 515px, 50%, 73.63%);
      }
      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--light), 1);
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          position: absolute;
          top: 0;
          left: 0;
        }
        svg {
          width: 24px;
          height: auto;
          fill: rgba(var(--grey), 1);
        }
      }
    }
    &-footer {
      display: flex;
      align-items: center;
      background-color: rgba(var(--white), 1);
      position: relative;
    }
    &-icon {
      stroke: rgba(var(--dark), 1);
      width: 24px;
      height: 24px;
      position: relative;
      z-index: 20;
      margin: 20px 0 20px 20px;
      flex-shrink: 0;
      display: flex;
    }
    &-name {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 10;
      margin-left: 20px;
      position: relative;
      top: 3px;
    }
    &-delete {
      padding: 20px;
      display: flex;
      margin-left: auto;
      background-color: rgba(var(--white), 1);
      position: relative;
      z-index: 20;
      flex-shrink: 0;
      svg {
        width: 24px;
        height: 24px;
        fill: rgba(var(--dark), 1);
      }
    }
  }
  &--breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &-item {
        display: flex;
        align-items: center;
        svg {
          margin: 0 10px;
        }
        a,
        button {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.06em;
          line-height: 1.5;
          display: flex;
          text-decoration: none;
          color: rgba(var(--dark), 1);
        }
        svg {
          fill: rgba(var(--dark), 1);
          width: 10px;
        }
      }
    }
  }
}
