._bcmsInput {
  &--inner {
    &_invalid {
      textarea {
        padding-right: 44px;
      }
    }
  }
  &--textarea {
    cursor: auto;
    padding: 12px 24px 9px 18px;
    resize: none;
    top: 0;
    left: 0;
    // overflow: hidden;
    max-height: 101px;
  }
}
