@import './toggle.scss';
@import './checkbox.scss';
@import './default.scss';
@import './enumeration.scss';
@import './textarea.scss';
@import './dropdown.scss';
@import './password.scss';

.checkboxLabel {
  display: flex;
  align-items: center;
  width: max-content;
  &--textContent {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 2px;
    user-select: none;
  }
}
