@import './input.scss';
@import './toggle.scss';
@import './text.scss';
@import './checkbox.scss';
@import './default.scss';
@import './multi-add.scss';
@import './textarea.scss';
@import './select.scss';
@import './password.scss';
@import './date.scss';
@import './markdown.scss';
@import './file.scss';

.checkboxLabel {
  display: flex;
  align-items: center;
  width: max-content;
  &--textContent {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 2px;
    user-select: none;
  }
}
