._bcmsInput--markdown {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid rgba(var(--grey), 1);
  border-radius: 14px;
  transition: all 0.32s;
  .editor-preview-active {
    & > * {
      margin-bottom: 5px;
    }
    ul,
    ol {
      margin-left: 15px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500;
    }
  }
  .editor-toolbar {
    border: none;
    border-bottom: 1px solid rgba(var(--grey), 1);
    transition: border-color 0.22s;
    opacity: 1;
    a {
      &.active {
        border: none;
      }
      &::before {
        color: rgba(var(--grey), 1);
        transition: color 0.22s;
      }
      &:hover,
      &:focus {
        border-color: transparent;
        background-color: transparent;
        &::before {
          color: rgba(var(--green), 1);
        }
      }
    }
  }
  .CodeMirror-wrap {
    border: none;
  }
  &:hover,
  &:focus-within {
    border: 1px solid rgba(var(--grey), 0.5);
    box-shadow: 0px 2px 10px rgba(151, 152, 171, 0.25);
    .editor-toolbar {
      border-bottom-color: rgba(var(--grey), 0.5);
    }
  }
}
