._bcmsInput {
  &--inner {
    &_invalid {
      ._bcmsInput--password {
        input {
          padding-right: 70px;
        }
        &-toggle {
          right: 42px;
        }
      }
    }
  }
  &--password {
    display: flex;
    ._bcmsInput--text {
      position: relative;
      padding-right: 35px;
    }
    &-toggle {
      position: absolute;
      right: 12px;
      top: 12px;
      svg {
        width: 20px;
        fill: rgba(var(--grey), 1);
        margin: auto;
      }
      .hide {
        fill: none;
        stroke: rgba(var(--grey), 1);
      }
    }
  }
}

// // .bcmsInput_password {
// //   .bcmsInput {
// //     &--input {
// //       padding-right: 35px;
// //     }
// //     &--tooltip {
// //       margin-right: 10px;
// //     }
// //     &--actions {
// //       &-btn {
// //         display: flex;
// //         svg {
// //           width: 20px;
// //           fill: rgba(var(--grey), 1);
// //           margin: auto;
// //         }
// //         .bcmsInput--actions-hide {
// //           fill: none;
// //           stroke: rgba(var(--grey), 1);
// //         }
// //       }
// //     }
// //   }
// // }
