.bcmsInput_password {
  .bcmsInput {
    &--input {
      padding-right: 35px;
    }
    &--tooltip {
      margin-right: 10px;
    }
    &--actions-btn {
      display: flex;
      svg {
        width: 20px;
        fill: rgba(var(--grey), 1);
        margin: auto;
      }
    }
  }
}
