.bcmsRadio {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &_disabled {
    cursor: not-allowed;
  }
  &--input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -5;
    &:checked + .bcmsRadio--outline {
      border: 1px solid rgba(var(--pink), 1);
    }
    &:checked + .bcmsRadio--outline + .bcmsRadio--circle {
      background: rgba(var(--pink), 1);
    }
    &:disabled + .bcmsRadio--outline {
      border: 1px solid rgba(var(--grey), 0.5);
    }
    &:disabled + .bcmsRadio--outline + .bcmsRadio--circle {
      background-color: rgba(var(--white), 1);
    }
  }
  &--outline {
    position: absolute;
    overflow: hidden;
    background: rgba(var(--white), 1);
    border: 1px solid rgba(var(--grey), 1);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  &--circle {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(var(--white), 1);
  }
}
