.entryEditor {
  &--prop {
    &_ARRAY,
    &_GROUP_POINTER {
      & > .entryEditor--prop-header {
        .entryEditor--prop-header {
          &-inner {
            &::before,
            &::after {
              @apply border-green #{!important};
            }
          }
          &-details {
            @apply text-green #{!important};
            &::after {
              @apply bg-green #{!important};
            }
          }
          &-actions {
            svg {
              path {
                @apply text-green #{!important};
              }
            }
          }
        }
      }
    }
    &_ARRAY_ITEM {
      & > .entryEditor--prop-header {
        .entryEditor--prop-header {
          &-inner {
            &::before,
            &::after {
              @apply border-pink #{!important};
            }
          }
          &-details {
            @apply text-pink #{!important};
            &::after {
              @apply bg-pink #{!important};
            }
          }
          &-required {
            path {
              @apply text-pink #{!important};
            }
          }
        }
      }
    }
    &_ARRAY,
    &_ARRAY_ITEM,
    &_GROUP_POINTER {
      & > .entryEditor--prop-header {
        width: calc(100% + 2px);
        .entryEditor--prop-header {
          &-inner {
            &::before,
            &::after {
              content: '';
              @apply w-2.5 h-2.5 absolute top-0;
            }
            &::before {
              @apply left-0 rounded-tl-2.5;
              border-width: 1px 0 0 1px;
            }
            &::after {
              @apply right-0 rounded-tr-2.5;
              border-width: 1px 1px 0 0;
            }
          }
          &-details {
            &:after {
              content: '';
              @apply top-1/2 flex-grow h-px relative transform translate-x-1 -translate-y-0.5;
            }
          }
        }
      }
    }
    &_RICH_TEXT {
      .prop-quill--editor {
        @extend .bcmsInput--inner;
        min-height: 44px;
      }
      .ql-editor {
        @extend .bcmsInput--input;
        height: unset;
        padding-top: 15px;
        padding-bottom: 15px;
        &.ql-blank::before {
          @apply text-base top-1/2 left-4.5 transform -translate-y-1/2;
        }
      }
    }
  }
}
