.entry-overview {
  max-width: 900px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  &--top {
    h3 {
      font-size: 30px;
      font-weight: 300;
    }
    h4 {
      font-size: 16px;
      font-weight: 300;
      color: var(--c-gray);
    }
  }
  &--entries {
    margin-top: 50px;
    table {
      border-collapse: collapse;
      td,
      th {
        padding: 4px 6px;
      }
      thead {
        background-color: var(--c-gray-light);
        tr {
          font-size: 18px;
          th {
            text-align: left;
            font-weight: 300;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid var(--c-gray-light);
          td {
            font-weight: 300;
          }
        }
        .number {
          max-width: 50px;
          text-align: center;
          color: var(--c-gray);
        }
        .id {
          font-size: 10px;
          color: (var(--c-gray));
        }
        .actions {
          max-width: 50px;
        }
      }
    }
    &-none {
      margin-top: 50px;
      text-align: center;
      .message {
        font-size: 30px;
        font-weight: 300;
        color: var(--c-gray);
      }
    }
  }
}
