@import './settings/index';
@import './views/index';
@import './plugins/index';
@import './components/index';

html {
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Hergon Grotesk', sans-serif;
  line-height: 1.4;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(var(--white), 1);
  background-image: url('/assets/gradients/gradient.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  @include fluid(background-size, 375px, 900px, 450px, 622px);
}
