@import './settings/index';
@import './components/index';
@import './dark';

*,
*::before,
*::after {
  @apply font-bcmsFont;
}

html,
body {
  @apply h-full m-0 p-0;
}

html {
  @apply overflow-hidden;
}

.bcmsBody {
  @apply box-border text-base leading-snug overflow-x-hidden overflow-y-auto bg-white bg-no-repeat dark:bg-dark;
  -webkit-overflow-scrolling: touch;
  background-image: url('/assets/gradients/gradient-small.png');
  background-position: top left;
  @include fluid(background-size, 375px, 900px, 450px, 622px);
  position: relative;
}

::-moz-selection {
  @apply bg-green bg-opacity-30 text-dark select-none dark:text-dark dark:bg-yellow;
  text-shadow: none;
}

::selection {
  @apply bg-green bg-opacity-30 text-dark select-none dark:text-dark dark:bg-yellow;
  text-shadow: none;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
